@tailwind base;
@tailwind utilities;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap");

$bg: #0c0d0f;

$border-color: #80808025;

html {
  @apply text-xs md:text-sm lg:text-base font-sans overflow-x-hidden;
  font-family: "Montserrat", sans-serif;
}

body {
  @apply col justify-center items-center bg-dark overflow-x-hidden;
}

.primary-bold {
  @apply text-white font-extrabold;
}

h1 {
  @apply text-6xl primary-bold;
  line-height: 1.2;
}

h2 {
  @apply text-5xl primary-bold;
}

h3 {
  @apply text-4xl primary-bold;
}

h4 {
  @apply text-3xl primary-bold;
}

h5 {
  @apply text-2xl primary-bold;
}

p {
  @apply text-xl text-gray-300 font-extrabold py-8;
}

a {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-300 font-semibold;
  }
}

nav {
  @apply py-2 pt-8 px-12 lg:px-48 mdlg:px-60 row w-screen justify-between items-center;
}

section {
  @apply col items-center w-4/6;
}

article {
  @apply py-20 col items-center;
  p {
    @apply text-gray-300;
  }
}

.col {
  @apply flex flex-col;
}

.row {
  @apply flex;
}

.bottom-line {
  border-bottom: 1px solid $border-color;
}

.btn-holder {
  a {
    @apply px-4;
  }
}

.btn {
  @apply transition-colors duration-300 mx-2 py-4 text-center hover:cursor-pointer rounded-full row justify-center items-center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply px-4;
  }

  img {
    @apply w-6 ml-4;
  }
}
