@tailwind base;
@tailwind utilities;
@tailwind components;

$bg : #0c0d0f;

$border-color: #80808025;

html {
  @apply text-xs md:text-sm lg:text-base font-sans;
}

body {
  overflow-x: hidden;
  @apply flex flex-col items-center justify-center bg-dark;
}

.primary-bold {
  @apply text-white font-extrabold;
}

h1 {
  @apply text-6xl primary-bold;
  line-height: 1.2;
}

h2 {
  @apply text-5xl primary-bold;
}

h3 {
  @apply text-4xl primary-bold;
}

h4 {
  @apply text-3xl primary-bold;
}

h5 {
  @apply text-2xl primary-bold;
}

p {
  @apply text-xl text-white pt-12;
}

.col {
  @apply flex flex-col py-10;
}

.bottom-line {
  @apply pb-10;
  border-bottom: 1px solid $border-color;
}