@tailwind base;
@tailwind utilities;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap");

$bg: #0c0d0f;

$border-color: #80808025;

html {
  @apply text-xs md:text-sm lg:text-base font-sans;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
  @apply flex flex-col items-center justify-center bg-dark;
}

.primary-bold {
  @apply text-white font-extrabold;
}

h1 {
  @apply text-6xl primary-bold;
  line-height: 1.2;
}

h2 {
  @apply text-5xl primary-bold;
}

h3 {
  @apply text-4xl primary-bold;
}

h4 {
  @apply text-3xl primary-bold;
}

h5 {
  @apply text-2xl primary-bold;
}

p {
  @apply text-xl text-white pt-12;
}

a {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-300 font-semibold;
  }
}

.col {
  @apply flex flex-col;
}

.row {
  @apply flex flex-row;
}

.bottom-line {
  border-bottom: 1px solid $border-color;
}

.btn-holder {
  a {
    @apply px-4;
  }
}
